@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');/*구글 폰트 링크*/
  @font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

*{margin:0;padding:0;}
  ul,li{list-style:none;}
  #slide{height:600px;position:relative;overflow:hidden;}
  #slide ul{width:400%;height:100%;transition:1s;}
  #slide ul:after{content:"";display:block;clear:both;}
  #slide li{float:left;width:25%;height:100%;}
  #slide li:nth-child(1){background-image: url("subway_main.png");background-repeat:no-repeat;background-size: cover;}
  #slide li:nth-child(2){background-image:url("sandwich_rank2.jpg");background-repeat:no-repeat;background-size: cover;}
  #slide li:nth-child(3){background-image:url("sandwich_rank3.jpg");background-repeat:no-repeat;background-size: cover;}
  #slide input{display:none;}
  #slide label{display:inline-block;vertical-align:middle;width:15px;height:15px;border:4px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
  #slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
  #pos1:checked~ul{margin-left:0%;}
  #pos2:checked~ul{margin-left:-100%;}
  #pos3:checked~ul{margin-left:-200%;}
  #pos4:checked~ul{margin-left:-300%;}
  #pos1:checked~.pos>label:nth-child(1){background:#666;}
  #pos2:checked~.pos>label:nth-child(2){background:#666;}
  #pos3:checked~.pos>label:nth-child(3){background:#666;}
  #logo{
    margin:10px;
    position: relative;
    top: 40px;
  }
    #bar{
      position: relative;
      text-align: right;
      padding-right: 20px;;
      padding-bottom:60px;
      }
  body{/*전체 글꼴*/
    margin-left: 300px;
  }
  .link{
    color: black;
    text-decoration: none;
    font-family: 'NIXGONM-Vb';
    font-size: 20px;
  }
  .link:hover{
    color: #23A41A;
    text-decoration: none;
  }

  .manu_text{
    padding:0px 60px 0px 60px;
  }

  .footer{
    font-size: 13px;
    position: relative;
    top: 100px;
    text-decoration: underline;
    }
    .menu{
      padding: 30px 0 0 20px;
    }
    .col-md-4{
      text-align: center;font-family: 'NIXGONM-Vb'}
    .text_highrights{
      font-size:20px;
      font-weight: bold;
      font-family: fantasy;
    }
    .rank{
      width: 350px;
    }
    .green_line{/*초록 구분선1*/
      width:133%;
      height: 7px;
      background-color: #23A41A;
      margin: 30px;
      padding: 0;
      position: relative;
      left: -300px;
      top: -30px;
    }
