@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');/*구글 폰트 링크*/
body{/*전체 글꼴*/
  font-family: 'Nanum Gothic Coding', monospace;
  margin-left: 300px;
}
  .awards_img{width:400px; height: auto;}
  .col-md-5{ text-align: right;}
  #logo{
  margin:20px;
 }
  #bar{/*상단바 위치 조정*/
    position: relative;
    left:1200px;
    margin-bottom: 30px;
    }
  /*상단바 색 변경*/
  .link{
    color: black;
    text-decoration: none;
  }
  .link:hover{
    color: #23A41A;
    text-decoration: none;
  }
  body{
    font-family: 'Nanum Gothic', sans-serif;
  }
.footer{
  font-size: 13px;
  position: relative;
  top: 600px;
  text-decoration: underline;
  }
  h1{
    font-family:
  }
  #col-md-7{

  }
  #rank_top{
    width: 100%;
    height: 850px;
  }
  .row{
    margin: 0;
    padding-bottom: 60px;
  }
  .awards_img{
    width: 300px
  }
  #awards{
    font-weight: bold;
    font-family:
  }
  .name{
    font-weight:bold;
    color:#35B62C;
  }
  .ex{
    font-size: 15px;
    color: #747474;
  }
  .jo{
    color: #FF2424;
  }
  .hap{
    color: #EDD200;
  }
  .beob{
    color: #0BC904;
  }
